html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}
.body {
    gap: 4rem;
}
.head {
    background: linear-gradient(to right , #569DAA , #87CBB9);
    top: 43px;
    padding-top: 50px;
    position: relative;
    width: 100%;
    left: 0px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main {
    background-color: #B9EDDD;
    width: 100%;
    height: 300px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header_nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: white solid 1px;
    z-index: 5;
    height: 50px;
    background: linear-gradient(to right , #569DAA , #87CBB9);
}
.header_ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.header_ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_ul a {
    text-decoration: none;
    color: black;
}
.header_ul-color1 {
    color : #577D86;
}
.header_ul-color2 {
    color: #B9EDDD;
}
.header_ul a:hover {
    color: #577D86;
    transition: 500ms;
}
.header_ul-color2:hover {
    color: black;
    transition: 500ms;
}
/*//////////////////////////////////////////////////////*/
.head_h1 {
    font-size: 5rem;
    color: white;
}
.head_h3 {
    font-size: 2rem;
    color: black;
}
/*/////////////////////////////////////////////////////////*/
.head_form {
    display: flex;
    justify-content: center;
    align-items: center;

}
.head_form input {
    position: relative;
    left: 3vw;
    width: 45vw;
    height: 50px;
    border-radius: 30px;
    border: none;
}
.head_form button {
    text-align: center;
    color: black;
    background-color: #B9EDDD;
    width: 8vw;
    height: 30px;
    font-size: 1.4rem;
    border: solid 1px #B9EDDD;
    border-radius: 20px;
    position: relative;
    left: -6vw;
    
    cursor: pointer;
}
/*////////////////////////////////////////////////////////////*/
.main_section1 {
    margin-top: -200px;
    width: 300px;
    height: 360px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_section1 img {
    width: 300px;
    object-fit: cover;
}
.main_section2 {
    margin-top: -200px;
    width: 540px;
    height: 360px;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(to top , rgb(86, 157, 170) , rgb(135, 203, 185));
    background-size:cover;
    z-index: 1;
    background-position: center;
}

.main_a1 {
    text-decoration: none;
    color: gray;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.main_h2-color1 {
    color: black;
    font-size: 25px;
}
.main_h2-color2 {
    color: white;
    font-size: 25px;
}
.main_pre-color2 {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.main_a2 {
    text-decoration: none;
    color: white;
    background-color: #87CBB9;
    padding: 10px;
    border-radius: 20px;

}
.main_section1:hover {
    margin-top: -205px;
    transition: 100ms;
}
.main_section2:hover {
    margin-top: -205px;
    transition: 100ms;
}
/*///////////////////////////////////////////*/
.browse {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.browse_h2 {
    font-size: 4rem;
}
.browse_ul {
    display: flex;
    flex-direction: row;
    gap: 4em;
    border-bottom: solid 1px rgb(0, 0, 0, 0.15);
}
.browse_button {
    
    cursor: pointer;
    border: none;
    background-color: white;
    padding-bottom: 2rem;
    color: rgb(0, 0, 0, 0.7);
}
.browse_button:hover {
    color: rgb(0, 0, 0, 0.8);
    transition-duration: 500ms;
    border-bottom: solid 1px black;
}
.browse_button {
    border-bottom: solid 1px rgb(0, 0, 0, 0.01);
}
/********************************************/
.d {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 35rem;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius: 10px;
}
.d:hover {
    margin-top: -0.5rem;
    transition:300ms;
}

.d h3 {
    color: black;
    font-size: 2rem;
}

.d p {
    color: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
}

.d img {
    height: 20rem;
    object-fit: contain;
}

.browse_div-d {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40rem;
    gap: 4rem;

}
/********************************************/
.m {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 35rem;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius: 10px;
}
.m:hover {
    margin-top: -0.5rem;
    transition:300ms;
}
.m h3 {
    color: black;
    font-size: 2rem;
}
.m p {
    color: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
}
.m img {
    height: 20rem;
    object-fit: contain;
}
.browse_div-m {
    margin-top: 2rem;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40rem;
    gap: 4rem;

}
/************************************************/
.mu {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 35rem;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius: 10px;
}
.mu:hover {
    margin-top: -0.5rem;
    transition:300ms;
}

.mu h3 {
    color: black;
    font-size: 2rem;
}

.mu p {
    color: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
}

.mu img {
    height: 20rem;
    object-fit: contain;
}

.browse_div-mu {
    margin-top: 2rem;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40rem;
    gap: 4rem;

}
/*********************************************/
.f1 {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 35rem;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius: 10px;
}
.f1:hover {
    margin-top: -0.5rem;
    transition:300ms;
}
.f2 {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 35rem;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius: 10px;
    background: linear-gradient(to right , rgb(86, 157, 170) , rgb(135, 203, 185));
}
.f2:hover {
    margin-top: -0.5rem;
    transition:300ms;
}
.f1 h3 {
    color: black;
    font-size: 2rem;
}
.f2 h3 {
    color: black;
    font-size: 2rem;
}
.f1 p {
    color: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
}
.f2 p {
    color: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
}
.f1 img {
    height: 20rem;
    object-fit: contain;
}
.f2_a {
    font-size: 1.9rem;
    text-decoration: none;
    color: white;
    background-color: #87CBB9;
    padding: 10px;
    border-radius: 27px;
    width: 20%;
}
.browse_div-f {
    margin-top: 2rem;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40rem;
    gap: 5rem;

}
/*****************************************/
.e {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 35rem;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius: 10px;
}
.e:hover {
    margin-top: -0.5rem;
    transition: 300ms;
}
.e h3 {
    color: black;
    font-size: 2rem;
}
.e p {
    color: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
}
.e img {
    height: 20rem;
    object-fit: contain;
}
.browse_div-e {
    margin-top: 2rem;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40rem;
    gap: 5rem;

}
/***********************************/
.learn {
    color: white;
    display: flex;
    flex-direction: column;
    left: 0;
    align-items: center;
    gap: 10rem;
    background: linear-gradient(to top , rgb(86, 157, 170) , rgb(135, 203, 185));
    padding: 5rem;
}
.learn h1 {
    font-size: 4.5rem;
}
.learn_article1 h2 {
    font-size: 3rem;
}
.learn_article2 h2 {
    font-size: 3rem;
}
.learn_article3 h2 {
    font-size: 3rem;
}
.learn_article1 p {
    font-size: 1.6rem;
}
.learn_article2 p {
    font-size: 1.6rem;
}
.learn_article3 p {
    font-size: 1.6rem;
}
.learn_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.learn_div h3 {
    font-size: 1.8rem;
}
.learn_div a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #87CBB9;
    border: solid 0.2rem #87CBB9;
    border-radius: 2rem;
    padding: 0.5rem;
}
/**********************************************/
.finding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 5%;
}
.finding h1 {
    font-size: 3rem;
}
.finding_section {
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.finding_section img {
    width: 40%;
}
.accordion_div {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.accordion_div button {
    background-color: rgb(0, 0, 0, 0.02);
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.8rem;
}
#b1 {
    background-color: rgb(0,255,255, 0.2);
}
.panel1 {
    display: flex;
    flex-direction: column;
}
.panel2 {
    display: none;
    flex-direction: column;
}
.panel3 {
    display: none;
    flex-direction: column;
}
.panel1 p {
    font-size: 1.6rem;
}
.panel2 p {
    font-size: 1.6rem;
}
.panel3 p {
    font-size: 1.6rem;
}

/******************RESPONSIVE**********************/
.header2 {
    display: none;
}
.header2_dropbtn {
    background-color: inherit;
    border: solid 1px rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
}
.header2_dropdown-content {
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
    background : linear-gradient(to right , #569DAA , #87CBB9);
    
}
.header2_dropdown-content a {
    width: 80%;
    text-align: center;
    text-decoration: none;
    padding-bottom: 1rem;
    color: white;
    justify-content: center;
    align-items: center;
}
.header2_dropdown-content a:hover {
    color: black;
    transition: 100ms;
}
@media (max-width :  992px) {
    .header2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 98%;
        left: 0;
        top: 0;
        border-bottom: white solid 1px;
        z-index: 5;
        height: 50px;
        background: linear-gradient(to right , #569DAA , #87CBB9);
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .header2 h3 {
        position: absolute;
        left: 2rem;
    }
    .header2_dropdown {
        position: absolute;
        right: 4rem;
    }
    .header {
        display: none;
    }
    .head {
        height: 600px;
    }
    .head_h1 {
        font-size: 3.5rem;
    }
    .head_h3 {
        font-size: 1.6rem;
    }
    .head_form input{
        position: relative;
        outline: none;
        width: 320px;
        height: 40px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        
    }

    .head_form button{
        width: 80px;
        left: 0px;
        padding-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 42px;
    }
    .main {
        height: 600px;
        margin-top: -100px;
        display: flex;
        flex-direction: column;
        gap: 200px;
    }
    .main section {
        width: 80%;
        height: 300px;
    }
    .main_section1 img {
        width: 100%;
        height: 150px;
        background-size: contain;
        overflow: hidden;
        
    }
    .browse h2 {
        font-size: 3rem;
    }
    .browse_ul {
        gap: 2rem;
    }
    .browse_div-d {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1200px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .browse_div-m {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1200px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .browse_div-mu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1200px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .browse_div-f {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .browse_div-e {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .d {
        width: 80%;
        height: 30%;
    }
    .d h3 {
        font-size: 2.4rem;
    }
    .d p {
        font-size: 2rem;
    }
    .d img {
        width: 100%;
        
        background-size: contain;
        overflow: hidden;
    }
    .m {
        width: 80%;
        height: 30%;
    }
    .m h3 {
        font-size: 2.4rem;
    }
    .m p {
        font-size: 2rem;
    }
    .m img {
        width: 100%;
        
        background-size: contain;
        overflow: hidden;
    }
    .mu {
        width: 80%;
        height: 30%;
    }
    .mu h3 {
        font-size: 2.4rem;
    }
    .mu p {
        font-size: 2rem;
    }
    .mu img {
        width: 100%;
        
        background-size: contain;
        overflow: hidden;
    }
    .f1 {
        width: 80%;
        height: 40%;
    }
    .f1 h3 {
        font-size: 2.4rem;
    }
    .f1 p {
        font-size: 2rem;
    }
    .f1 img {
        width: 100%;
        
        background-size: contain;
        overflow: hidden;
    }
    .f2 {
        width: 80%;
        height: 40%;
    }
    .f2 h3 {
        font-size: 2.4rem;
    }
    .f2 p {
        font-size: 2rem;
    }
    .f2_a {
        font-size: 1.9rem;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: #87CBB9;
        padding: 10px;
        border-radius: 27px;
        width: 20%;
    }
    .e {
        width: 80%;
        height: 50%;
    }
    .e h3 {
        font-size: 2.4rem;
    }
    .e p {
        font-size: 2rem;
    }
    .e img {
        width: 100%;
        
        background-size: contain;
        overflow: hidden;
    }
    .learn h1 {
        font-size: 3rem;
    } 
    .learn article h2 {
        font-size: 2.4rem;
    }
    .learn article p {
        font-size: 1.8rem;
    }
    .finding {
        align-items: center;
    }
    .finding h1 {
        font-size: 3rem;
    }
    .finding_section {
        flex-direction: column;
        align-items: center;
    }
    .finding_section img{
        width: 80%;
        background-size: contain;
    }
    .accordion_div {
        width: 80%;
    }
    .accordion_div p {
        font-size: 1.8rem;
    }
}

@media (max-width : 620px) {
    .head_form input {
        width: 200px;
        height: 30px;
    }
    .head_form button {
        height: 32px;
    }
    .head h1 {
        font-size: 2rem;
    }
    .head h3 {
        font-size: 1rem;
    }
    .main h1 {
        font-size: 2rem;
    }
    .main h2 {
        font-size: 1.8rem;
    }
    .main p {
        font-size: 1.2rem;
    }
    .browse a {
        font-size: 1.2rem;
    }
    .browse h3 {
        font-size: 1.6rem;
    }
    .browse p {
        font-size: 1.2rem;
    }
    .learn h1 {
        font-size: 2rem;
    }
    .learn article h2 {
        font-size: 1.8rem;
    }
    .learn article h3 {
        font-size: 1.4rem;
    }
    .learn article p {
        font-size: 1.2rem;
    }
    .learn a {
        font-size: 1rem;
    }
    .learn div h3 {
        font-size: 1.4rem;
    }
    .finding h1 {
        font-size: 2rem;
    }
    .finding_section button {
        font-size: 1.4rem;
    }
    .finding_section p {
        font-size: 1.2rem;
    }
}

